#bg-imagen{ /*fondo*/
	background-image:url("../image/large.jpg");
	background-size:cover;
	
	opacity:0.9;
	background-repeat:no-repeat;
}

.bg-black{
	background: rgba(0,0,0,0.5);
}


nav.navbar  { /*color navegador*/
    background-color:transparent;
	border:transparent;
}

li a {
	color:white !important;
}

.size{
	font-size:2em;
	color:#075784;
}
.jumbotron{
	background-color:transparent;
	margin-top:5%;
	margin-bottom:7%;
	color:white;

}

.mrg-left{
	margin-left:20%;
}
.margin{
margin-top:10%;
}

.text-white{
	color:white;
}

.bg-blue{
	background-color:blue;
	opacity:0.5;
	height:100px;
}

.blue{
	color:#075784;
}

.icon{
	margin-top:5%;
}

.glyphicon{
	color:blue;
	font-size:2em;
}



.separador{
	margin:auto;
	display:block;
}


#logo2{
	width:20%;
}

#compu{
	width:110%;
}

#img{
	width:100%;
	height:80%;
}

.bg-grey{
	background-color:grey;
	height:80px;
}