#bg-imagen{ /*fondo*/
	background-image:url("../image/large.jpg");
	background-size:cover;
	height:700px;
	opacity:0.9;
	background-repeat:no-repeat;
}



#logo{
	width:30%;
}

nav.navbar  { /*color navegador*/
    background-color:transparent;
	border:transparent;
}

li a {
	color:black !important;
}

.jumbotron{
	background-color:transparent;
	margin-top:10%;

}

.text-white{
	color:white;
}

.bg-blue{
	background-color:blue;
	opacity:0.5;
}