#bg-imagen{ /*fondo*/
	background-image:url("../image/large.jpg");
	background-size:cover;
	
	opacity:0.9;
	background-repeat:no-repeat;
}

.bg-black{  /*para dar opacidad al fondo*/
	background: rgba(0,0,0,0.5);
}


nav.navbar  { /*color navegador*/
    background-color:transparent;
	border:transparent;
}

li a {   /*cambiar el color a letras nav*/
	color:white !important;
}

.size{  /*tamaño iconos*/
	font-size:2em;
	color:#075784;
}
.jumbotron{
	background-color:transparent;
	margin-top:5%;
	margin-bottom:7%;
	color:white;

}

.mrg-left{
	margin-left:20%;
}
.margin{
margin-top:10%;
}

.text-white{
	color:white;
}

.bg-blue{ /*fondo azul*/
	background-color:blue;
	opacity:0.5;
	height:100px;
}

.blue{ /*letras azules*/
	color:#075784;
}

.icon{  /*glyphicon*/
	margin-top:5%;
}

.glyphicon{
	color:blue;
	font-size:2em;
}



.separador{  /*entre una página y otra*/
	
}
#sep{
	margin-top:-6%;
}

#logo2{   /*logo tested 2da parte*/
	width:20%;
}

#compu{   /*imagen computadora*/
	width:110%;
}

#img{
	width:100%;
	height:80%;
}

.bg-grey{  /*footer*/
	background-color:grey;
	height:80px;
}
/*formulario*/

input , textarea{
	width:60%;
	margin:auto;
	display:block;
	margin-bottom:0px;
}

textarea{
	height:200px;
}

#botonformulario{
	width:20%;
	height:30px;
	color:white;
}
.btn-pruebalo{
	margin:auto;
	display:block;
	width:20%;
	border: 1px solid white;
}
/*formulario*/